{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commonexpenses list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commonExpense in commonExpenses %}
            <tr>
                <td><a href="{{ path('commonexpenses_show', { 'id': commonExpense.id }) }}">{{ commonExpense.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('commonexpenses_show', { 'id': commonExpense.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('commonexpenses_edit', { 'id': commonExpense.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commonexpenses_new') }}">Create a new commonExpense</a>
        </li>
    </ul>
{% endblock %}
