{% extends 'base.html.twig' %}

{% block body %}
    <h1>Capitalinvestment</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ capitalInvestment.id }}</td>
            </tr>
            <tr>
                <th>Reason</th>
                <td>{{ capitalInvestment.reason }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('capitalinvestment_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('capitalinvestment_edit', { 'id': capitalInvestment.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
